
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//adminlte css file import
@import '~admin-lte/dist/css/adminlte.css';
//for fort awesome import
@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";




.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.router-link-exact-active {
    background-color:#118aef;
    color: #fff !important;
}
